<div class="container error-div">
    <h2>Whoops, looks like you took a wrong turn somewhere.</h2>
    <h2 class="error_text">404 - PAGE NOT FOUND</h2>
    <p>The page you were trying to view does not exist or was moved.
        <br>If you believe this is in error, please contact the website administrator.</p>
    <br>
    <a href="/">Back to the homepage</a>
</div>