<title>My title here</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="/favicon.ico"/>

<!-- Load custom styles and scripts -->
<link rel="stylesheet" href="/stylesheets/style.css"/>
<script src="/javascript/script.js"></script>