<div class="my-content">
    <p>Hello {{username}}!<br>Welcome to this Node-Express boilerplate.</p>
    <img src="favicon.png">
    <p>A website made with Node, Express, IcedCoffeeScript, MySQL, Winston, Handlebars, and Sass!</p>
</div>